<% layout('layouts/boilerplate') -%>

    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Error!</h4>
        <p>
            <%= message%>
                <br>
                <%= statusCode %>
        </p>
        <hr>
        <p class="mb-0">
        <div>
            <%= err.stack %>
        </div>
        </p>
    </div>